
.grid {

  display: flex;
  flex-wrap: wrap;
}

.grid .grid__tile {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 33%;
  height: 60px;


  background-color: green;
  
}