body {
  user-select: none;
  background-color: rgb(237 223 1);
}

.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket-message {
  width: 100%;

  padding: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;

  background-color: #f5f5f550;
  border-bottom: 1px solid grey;
}

.quote-space {
  padding: 1%;
  margin-top: 8.5%;
  margin-left: 23%;
  background-color: white;
  font-family: "Courier New";
}

.grid {

  display: flex;
  flex-direction: column;

  justify-items: center;
  align-items: center;
  position: relative;
}

.grid__overlay {
  pointer-events: none;
  z-index: 1;

  position: absolute;
  top: 0;
  width: 310px;
  height: 454px;

  background-repeat: no-repeat;
}

.grid__frame {
  padding-top: 103px;
}

.grid__row {
  overflow: hidden;

  display: flex;
}

.grid__row__special-tile {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  height: 70px;
  width: 100%;
}

.grid__tile {
  position: relative;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 82px;
  height: 66px;

  background-color: rgb(234 229 138 / 1);
}

.grid__tile__content {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.grid__tile__content__icon {
  width: 100%;
  height: 100%;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.grid__tile canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.grid__tile--revealed {
  background-color: rgb(234 229 138 / 1);
}

.grid__tile--revealed canvas {
  display: none;
}